<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapps.essenceofnumbers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/date_activity" android:name="SecondaryActivities.DateActivity"/>
        <activity android:label="@string/math_activity" android:name="SecondaryActivities.MathActivity"/>
        <activity android:label="@string/numbers_activity" android:name="SecondaryActivities.NumbersActivity"/>
        <activity android:label="@string/years_activity" android:name="SecondaryActivities.YearsActivity"/>
    </application>

</manifest>